
<header>
<div class="mx-auto mt-5" style="width: 800px;">
  <h1>Bienvenidoa a Integrate</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
     exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
     dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
     Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
     anim id est laborum.</p>
     <div class="mx-auto mt-5" style="width: 300px;">
       <h4><%= link_to "Elige una Localidad", locations_path %></h4>
     </div>

</div>


</header>
