
<header>
<div class="mx-auto  text-center" style="width: 800px;">
    <h1 style="color:#FF5A09">Bienvenido a Intégrate</h1>

     <p class="lead">Intégrate es la plataforma que te empodera de tu localidad</p>



      <br><br><br>
        <br><br><br>
          <br><br><br>

            <br><br><br>
              <br><br><br>  <br><br><br>
                <br><br><br>
</div>


</header>
