
<header>
<div class="mx-auto  text-center" style="width: 1000px;">
    <h1 style="color:#FF5A09">Bienvenido a Intégrate</h1>



     <iframe width="1000" height="565"
      src="https://www.youtube.com/embed/k0AR5h-1H9I">
      </iframe>
      <br><br><br>
      <p class="lead">  Integrate nace a partir de la ausencia o falta de comunicación que existe entre ciudadanos y
        representantes cada localidad, ofreciendote mecanismos de participación y temáticas que ayudaran a mejorar,
        restaurar o generando nuevas ideas a los representantes de tu localidad de trabajo, de vivienda, etc. trabajando
        todos en pro del bien común, incentivando la participación ciudadana, la colaboración y la ayuda entre ciudadanos locales.
        </p><p class="lead font-weight-bold">
   Informate, interioriza y participa votando, generando comentarios o soluciones a problemáticas que te perjudican.</p>


 <br><br><br>


      <div id="ciudadano">

        <div class="card text-center ">
          <div class="card-header bg-dark">
            <div class="display-4">
              <i class="fa fa-user-o  "  aria-hidden="true"></i>
            </div>
            <h3 style="color:orange " >INTÉGRATE como ciudadano</h3>
          </div>
          <div class="card-body">
            <h5 class="card-title">---</h5>
            <p class="card-text lead align-left">  Podrás hacer uso de esta aplicación de forma sencilla y eficaz,
              solo debes empezar eligiendo tu localidad y registrándote. Ya veraz que de manera muy fácil entraras
              en contacto con todos los vecinos de tu localidad. </p>
          </div>

          <ul class="list-group list-group-flush">
              <li class="list-group-item"><p>Integrate te permitirá navegar por diferentes mecanismos de integración como son:
                 Problemáticas, Noticias, Encuestas y Seguimiento de Proyectos. La información que allí encontraras será en su mayoría
                  publicada por los representantes de tu localidad excepto las problemáticas, que sin duda alguna serás tú quien te encargaras
                  de publicar las problemáticas que tanto a tu comunidad como a ti te perjudican. </p></li>
              <li class="list-group-item"><p>Cada una de estas herramientas te ofrecerá diferentes temáticas en las que puedes participar,
                 es decir que por cada mecanismo de integración tendrás diferentes temáticas, no te parece genial? Podrás conocer cuales privilegios
                  y desventajas presenta tu localidad en la actualidad. Movilidad, Contaminación, Seguridad y Cultura y recreación, serán las temáticas
                  en las que podrán participar, todas sin excepción. </p></li>
              <li class="list-group-item"><p>Tus opiniones serán escuchadas, las problemáticas serán compartidas por otros ciudadanos y tenidas en cuenta y
                además tendrás derecho al voto participando en las encuestas que son creadas por los representantes</p>.</li>
            </ul>

          <div class="card-footer text-muted bg-dark ">
          <p class="font-italic text-light" >Integrate es una manera transparente, sencilla y efectiva de comunicarte con los representantes de tu localidad, es una aplicación que
            te permite una cercanía con tus representantes a través de un portal de mecanismos de comunicación y es el medio de informarte de todos los
             acontecimientos que suceden con tu localidad. </p>
          </div>
        </div>
      </div>
  <br><br><br>
      <div id="Representante">

        <div class="card text-center ">
          <div class="card-header bg-dark">
            <div class="display-4">
               <i class="fa fa-university" aria-hidden="true"></i>
            </div>
            <h3 style="color:orange " >INTÉGRATE como Representante</h3>
          </div>
          <div class="card-body">
            <h5 class="card-title">---</h5>
            <p class="card-text lead align-left"> Como líder de tu comunidad local tendrás tu usuario en la plataforma web, en donde podrás
              informar a los ciudadanos de todas las obras y mejoras que realizas en tu localidad para que ellos sean participes de los
               beneficios brindados. También podrás actualizar el status de los proyectos que se encuentran en proceso de ejecución.</p>
          </div>

          <ul class="list-group list-group-flush">
              
              <li class="list-group-item"><p>Conocerás de primera mano las problemáticas que aquejan a los ciudadanos de la localidad y
                 que tendrán mayor rango de puntuación, lo que querrá decir que será una de las problemáticas que se convertirá en una
                 prioridad importante. De esta manera podrás tomar decisiones que ayuden con el mejoramiento y progreso de la localidad. </p></li>
              <li class="list-group-item"><p>Finalmente, serás beneficiado de la participación ciudadana al conocer las respuestas de las
                votaciones que serán postuladas por ti.</p> </li>
            </ul>

          <div class="card-footer text-muted bg-dark">
            <p class="font-italic text-light" >Como representante podras conocer mejor a tu localidad, tomar mejores decisiones y tener en cuenta la
              opinión de los ciudadanos de tu localidad.  </p>
          </div>
        </div>

      </div>


</div>

<br><br><br>

</header>
