
<header>
<div class="mt-auto">
  <h1>Bienvenidoa a Integrate</h1>
  <p>Find me in app/views/welcome/index.html.erb</p>
  <p>Find me in app/views/welcome/index.html.erb</p>
  <p>Find me in app/views/welcome/index.html.erb</p>
  <p>Find me in app/views/welcome/index.html.erb</p>

</div>

</header>
