<p id="notice"><%= notice %></p>

<div class="text-center m-5">
  <p>
    <strong>Location:</strong>
    <%= session[:location_id]%>
  </p>

  <h1>
    <strong><%= @thematic.first.nombre_te %></strong>

  </h1>
  <div class="m-5">
    <p>
      <strong> Noticias</strong>
    </p>

  </div>
  <div class="m-5">
    <p>
      <strong> Problematicas</strong>
    </p>
    <%= link_to 'Entrar', problematics_path  %>


  </div>
  <div class="m-5">
    <p>
      <strong> Encuestas</strong>
    </p>


  </div>
  <div class="m-5">
    <p>
      <strong> Proyectos ejecutados</strong>
    </p>


  </div>
  <div class="m-5">
    <p>
      <strong> Seguimiento</strong>
    </p>


  </div>


</div>
