<p id="notice"><%= notice %></p>
<div class=" title-thematic text-center border border-danger mb-2 ">
  <h1 class="mt-2">
    <strong class=""><%= @thematic.first.nombre_te %></strong>

  </h1>
</div>


<div class="row px-5">
  <div class="col-lg-6">
    <div class="card card-thematics hoverbox-content bg-black">
       <img class="card-img card-the-show" src="https://www.ineaf.es/tribuna/wp-content/uploads/CONTABILIDADProblem%C3%A1tica.jpg" alt="Card image" >
      <div class="card-body card-img-overlay">
        <h5 class="card-title ">Problematicas</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.
        With supporting text below as a natural lead-in to additional content.
      With supporting text below as a natural lead-in to additional content.
    With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" ><%= link_to 'ingresa', problematics_path , class:"btn btn-primary"   %></a>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card card-thematics">
       <img class="card-img card-the-show" src="http://www.exteriores.gob.es/RepresentacionesPermanentes/OTAN/es/Noticias/PublishingImages/noticias.png" alt="Card image" >
      <div class="card-body card-img-overlay">
        <h5 class="card-title ">Noticias</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.
        With supporting text below as a natural lead-in to additional content.
      With supporting text below as a natural lead-in to additional content.
    With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary ">Entra</a>
      </div>
    </div>
  </div>
</div>

<div class="row px-5 py-5">
  <div class="col-lg-6">
    <div class="card card-thematics">
       <img class="card-img card-the-show" src="https://www.ingeniovirtual.com/wp-content/uploads/encuestas-online.jpg" alt="Card image" >
      <div class="card-body card-img-overlay">
        <h5 class="card-title ">Encuestas</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.
        With supporting text below as a natural lead-in to additional content.
      With supporting text below as a natural lead-in to additional content.
    With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary ">Entra</a>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card card-thematics">
       <img class="card-img card-the-show" src="http://www.rodaenergia.cl/uploads/proyectos/single_7a77f4469720f234914c718068f98cd95bef7a96.jpg" alt="Card image" >
      <div class="card-body card-img-overlay">
        <h5 class="card-title ">Seguimiento de proyectos</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.
        With supporting text below as a natural lead-in to additional content.
      With supporting text below as a natural lead-in to additional content.
    With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary ">Entra</a>
      </div>
    </div>
  </div>
</div>
