



<div class=" jumbotron  form-problematic w-75 mx-auto text-center" >
  <h2 class="title-n-problematic">Nueva problemática</h2>


<%= render 'form', problematic: @problematic %>
</div>
<%= link_to 'Back', problematics_path ,class:"btn btn-outline-info m-5"%>
